.wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    padding-top: 100px;
    justify-content: center;
}

.inner {
    width: 40%;
    display: flex;

    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.header {
    width: 100%;
    text-align: center;
}

.input,
.select {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 12px;
    margin-top: 10px;
    width: 100%;
    transition: all linear 0.2s;

    &:focus {
        border: 1px solid #266dfb;
        box-shadow: 0 0 4px #266dfb;
    }
}

.select {
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
}

label {
    font-size: 1.4rem;
    cursor: pointer;
    height: 40px;
    margin-bottom: 10px;

    &:hover {
        background-color: #ccc;
    }
}

.view-img {
    object-fit: contain;
    border-radius: 6px;
    height: 200px;
}

button {
    cursor: pointer;
    &:hover {
        background-color: #ccc;
    }
}
