.wrapper {
    width: 100%;
    background-color: #f9f9f9;
    min-height: 790px;
}

.body {
    padding-top: 120px;
    width: 100%;
    display: flex;
    padding: 120px 16px 0 16px;
    justify-content: center;

    &.tb,
    &.mb {
        padding-top: 126px;
    }
}

.body-inner {
    width: 1170px;
    height: 100%;
    overflow: hidden;
}
