.wrapper {
    width: 100%;
    height: 40px;
    user-select: none;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
}

.categories {
    flex-shrink: 0;
    width: 270px;
    height: 100%;
    border-radius: 3px 3px 0 0;
    background-color: #212121;
    align-items: center;
    display: flex;
    padding-left: 18px;
    cursor: pointer;
    margin-right: 2px;

    &.active {
        background-color: var(--hover-color);
    }

    &:hover {
        background-color: var(--hover-color);
    }
}

.categories-title {
    font-size: 1.4rem;
    color: #ffffffe6;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 1px;
}

.list {
    width: 270px;
    min-height: 50px;
    background-color: white;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: calc(50% - 5.2px);
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 6px solid black;
        transform: translateY(-1px);
    }
}

.list-item {
    width: 100%;
    padding: 0 38px 0 20px;
    font-size: 1.4rem;
    color: #000000de;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
    cursor: pointer;
    height: 39.6px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:first-child {
        padding-top: 5px;
        height: 45px;
    }

    &:hover {
        text-decoration: underline;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        .overlay {
            display: block;
        }
    }
}

.item {
    width: 14.467%;
    background-color: #212121;
    border-radius: 3px 3px 0 0;
    color: #ffffffe6;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    margin-right: 2px;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-color);
    }
}

.plus {
    font-size: 1.2rem;
    color: white;
    background-color: #6202ea;
    font-weight: bold;
    width: 16.925%;
    display: flex;
    align-items: center;
    border-radius: 3px 3px 0 0;
    justify-content: center;
    margin-left: 3px;
    cursor: pointer;

    &:hover {
        background-color: #6e11ef;
    }
}

.overlay {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;

    &.show {
        visibility: visible;
        opacity: 1;
    }
}
