.wrapper {
    width: 100%;
}

.inner {
    width: 100%;
}

.result {
    font-size: 1.2rem;
    color: #757575;
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.result-link {
    color: #757575;
}

.result-character {
    transform: translateY(-2px);
    margin: 0 10px;
    font-size: 1.6rem;
}

.result-title {
    transform: translateY(-1px);
}
