.wrapper {
    width: 100%;
    height: 100vh;
    user-select: none;
    background-color: #f9f9f9;
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 66px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    justify-content: center;
    padding: 48px 20px 48px 20px;
    .body-box {
        width: 460px;
        padding: 33px 52px 29px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 4px;
        background-color: white;
        display: flex;
        flex-direction: column;

        .body-header {
            font-size: 2.2rem;
            color: black;
            font-weight: bold;
            margin-bottom: 38.6px;
            text-align: center;
        }

        .body-warn {
            font-size: 1.4rem;
            margin: 5px 0;
            color: red;
            transition: all linear 0.2s;
        }

        .body-input {
            width: 100%;
            flex-shrink: 0;
            display: flex;
            position: relative;
            border-radius: 3px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(198, 198, 198);
            padding: 0px 15px;
            height: 43.6px;
            font-size: 1.4rem;
            user-select: none;
            margin-bottom: 16px;

            &::placeholder {
                font-size: 1.4rem;
                color: #cbd1de;
            }

            &:focus {
                border-color: rgb(47, 130, 251);
            }
        }

        .body-btn {
            width: 100%;
            background-color: #0868f3;
            border-radius: 4px;
            height: 42.2px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            font-size: 1.4rem;
            color: white;
            transition: all linear 0.2s;

            cursor: pointer;

            &:hover {
                background-color: #3484f3;
            }
        }

        .body-register {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            gap: 1rem;
            span {
                font-size: 1.4rem;
                color: black;
                font-weight: bold;
            }

            p {
                font-size: 1.4rem;
                color: #2f82fb;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.alert {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;

    &.active {
        visibility: visible;
        opacity: 1;
    }

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
    }

    .alert-box {
        width: 300px;
        height: 200px;
        background-color: white;
        border-radius: 4px;
        z-index: 10;
        padding: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        transition: all linear 0.3s;
        opacity: 0;
        transform: scale(0.8);

        &.active {
            transform: scale(1);
            opacity: 1;
        }

        .alert-title {
            text-align: center;
            font-size: 2.2rem;
            font-weight: bold;
            color: black;
        }

        .alert-btn {
            width: 100%;
            background-color: #2f82fb;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            color: white;
            border-radius: 4px;
            margin-top: 2rem;
            font-size: 1.4rem;
            font-weight: bold;
            transition: all linear 0.2s;
            cursor: pointer;

            &:hover {
                background-color: #0868f3;
            }
        }
    }
}

.alert-top {
    width: 200px;
    height: 60px;
    background-color: #ccc;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    justify-content: center;
    left: 50%;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #fff;
    transform: translateX(-50%);
    transition: all linear 0.5s;
    top: -100px;
    display: flex;
    align-items: center;
    opacity: 0;

    &.active {
        opacity: 1;
        top: 54px;
    }
}
